---
- name: create couchdb group
  become: yes
  become_user: root
  group:
    name: '{{couchdb_group}}'
    state: present
  
- name: create couchdb user
  become: yes
  become_user: root
  user:
    name: '{{couchdb_user}}'
    group: '{{couchdb_group}}'
    home: '{{couchdb_dir}}'
    state: present

- name: create directories
  become: yes
  become_user: root
  with_items:
    - d: '{{couchdb_etc_pki_dir}}'
    - d: '{{couchdb_dir}}/etc/local.d'
    - d: '{{couchdb_data_dir}}'
  file:
    path: '{{item.d}}'
    state: directory
    owner: '{{couchdb_user}}'
    group: '{{couchdb_group}}'
    mode: '{{item.m|default("0700")}}'

- name: install keys/certs
  when: couchdb_secure
  become: yes
  become_user: root
  with_items:
    - f: '{{couchdb_pki_key_src}}'
      d: '{{couchdb_pki_key_dest}}'
      m: '0400'
    - f: '{{couchdb_pki_cert_src}}'
      d: '{{couchdb_pki_cert_dest}}'
    - f: '{{couchdb_pki_ca_cert_src}}'
      d: '{{couchdb_pki_ca_cert_dest}}'
  copy:
    src: '{{item.f}}'
    dest: '{{item.d}}'
    owner: '{{couchdb_user}}'
    group: '{{couchdb_group}}'
    mode: '{{item.m|default("0600")}}'
    
- name: configurate....
  become: yes
  become_user: root
  with_items:
    - f: httpd_proxies.ini
    - f: chttpd.ini
    - f: admins.ini
    - f: ssl.ini
    - f: daemons.ini
    - f: couchdb.ini
    - f: httpd.ini
    - f: cluster.ini
    - f: compactions.ini
    - f: log.ini
    - f: query_server_config.ini
    - f: vm.args
      d: '{{couchdb_dir}}/etc'
  template:
    src: '{{item.f}}.j2'
    dest: '{{item.d|default(couchdb_etc_local_dir)}}/{{item.f}}'
    owner: '{{couchdb_user}}'
    group: '{{couchdb_group}}'
    mode: '{{item.m|default("0644")}}'
  
- name: configure system init...
  include_tasks: '{{couchdb_init}}.yml'
